body, ul{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    
}

.material-icons-outlined{
    vertical-align: middle;
    position: relative;
}

a{
    color: #FFFF;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    background: #00a65053;
    border-radius: 30px;
    transition: 0.8s;
}

#header{
    box-sizing: border-box;
    display: flex;
    height: 70px;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    background: #00652E;
}
#menu{
    display: flex;
    list-style: none;
    gap: .8rem;
}

#menu a{
    display: block;
    padding: .5rem;
}
#btn-mobile{
    display: none;
}

@media (max-width: 600px){

    #logo{
        margin-top: 4rem;
    }
    .material-icons-outlined{
        vertical-align: middle;
        position: relative;
        margin-right: 5px;
    }
    
    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 24rem;
        top: 7rem;
        left: 12px;
        background: #00652E;
        z-index: 1000;
        height: 50rem;
        transition: .6s;
        font-size: 22px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(70vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
   

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }
    
    #hamburguer{
        border-top: 4px solid ;
        width: 30px;
        color: #FFFF;
        margin-top: 4rem;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 30px;
        height: 2.5px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

}


@media only screen and(max-width: 400px){
    
    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 28rem;
        top: 7rem;
        left: 12px;
        background: #00652E;
        z-index: 1000;
        height: 50rem;
        transition: .6s;
        font-size: 22px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(50vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
   

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }
    
    #hamburguer{
        border-top: 4px solid ;
        width: 30px;
        color: #FFFF;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 30px;
        height: 2.5px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

}
